<!-- Footer -->
<footer class="text-center text-lg-start text-white" style="background-color: #1c2331">

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start px-0">
            <!-- Grid row -->
            <div class="row py-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto px-0">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold">បណ្ណាល័យជាតិកម្ពុជា</h6>
                    <hr
                            class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px"
                    />
                    <p>
                        ប្រមូលផ្តុំថែរក្សានិងផ្តល់សេវាប្រីប្រាស់នូវឯកសារទាំងឡាយដែលជាមរតករបស់ជាតិ។
                        ផ្តល់ពត៌មាននិងឯកសារដើម្បីជួយួគាំទ្រដល់វិស័យអប់រំរដ្ឋាភិបាលនិងការស្រាវជ្រាវនៅក្នុងប្រទេសកម្ពុជា។
                        ផ្សព្វផ្សាយសេវាកម្មនៃបណ្ណាល័យសាធារណៈនិងជួយគាំទ្រដល់ការងាររបស់បណ្ណាល័យផ្សេងៗទៀត។
                        សម្របសម្រួលការចែករំលែកធនធាននិងការឱ្យខ្ចីបែបអន្តរបណ្ណាល័យរវាងបណ្ណាល័យគ្រប់ប្រភេទនៅក្នុងព្រះរាជាណាចក្រកម្ពុជា។
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto px-0">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold">មាតិកា</h6>
                    <hr
                            class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px"
                    />
                    <p>
                        <a class="text-white text-decoration-none" href="#!">ធនធានឯកសារ</a>
                    </p>
                    <p>
                        <a class="text-white text-decoration-none" href="#!">ផ្នែកតម្កល់ទុកតាមច្បាប់</a>
                    </p>
                    <p>
                        <a class="text-white text-decoration-none" href="#!">ISBN</a>
                    </p>
                    <p>
                        <a class="text-white text-decoration-none" href="#!">សៀវភៅបោះពុម្ព</a>
                    </p>
                    <p>
                        <a class="text-white text-decoration-none" href="#!">គន្ធនិន្ទេស</a>
                    </p>
                    <p>
                        <a class="text-white text-decoration-none" href="#!">កិច្ចសហប្រតិបត្តិការ</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto px-0">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold">ភ្ជាប់ទៅកាន់</h6>
                    <hr
                            class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px"
                    />
                    <p>
                        <a class="text-white text-decoration-none" href="#!">ក្រសួងវប្បធម៌ និងវិចិត្រសិល្បៈ</a>
                    </p>
                    <p>
                        <a class="text-white text-decoration-none" href="#!">បណ្ណាល័យព្រះពុទ្ធសាសនា</a>
                    </p>
                    <p>
                        <a class="text-white text-decoration-none" href="#!">បណ្ណាល័យទួលស្លែង</a>
                    </p>
                    <p>
                        <a class="text-white text-decoration-none" href="#!">បណ្ណាល័យសារៈមន្ទីរ</a>
                    </p>
                    <p>
                        <a class="text-white text-decoration-none" href="#!">បណ្ណាល័យសាលារៀន</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 px-0">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold tex">ទំនាក់ទំនង</h6>
                    <hr
                            class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px"
                    />
                    <p><i class="fas fa-home mr-3"></i> សង្កាត់វត្តភ្នំពេញ ខណ្ឌដូនពេញ រាជធានីភ្នំពេញ ផ្លូវលេខ៩២ គ្រីស្តូ
                        ភើ ហូវ</p>
                    <p><i class="fas fa-envelope mr-3"></i> kvibolla@yahoo.com</p>
                    <p><i class="fas fa-phone mr-3"></i>(៨៥៥) ១២ ៩៥១ ៥៨២</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div
            class="text-center p-3"
            style="background-color: rgba(0, 0, 0, 0.2)"
    >
        © 2022 រក្សាសិទ្ធគ្រប់យ៉ាងដោយ
        <a class="text-white text-decoration-none fw-bold" href="http://nlc.gov.kh/" rel="noopener noreferrer"
           target="_blank">
            បណ្ណាល័យជាតិកម្ពុជា
        </a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
